Source: foo
Section: utils
Priority: optional
Maintainer: Paul Buetow <paul@buetow.org>
Build-Depends: 
Standards-Version: 3.9.2
Homepage: https://template.buetow.org
Vcs-Git: git://git.buetow.org/template
Vcs-Browser: http://web.buetow.org/git/?p=template.git;a=summary

Package: foo
Architecture: all
Depends:
Description: Small template package
 This is just a template package, which cann print Hello World.
